@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-props{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-props-c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-props-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}